.App {
  width: 1200px;
  margin: 0 auto;
}

.search {
  text-align: center;
}

.top-row-modules {
  display: flex;
  justify-content: center;
}

.info-panel {
  text-align: left;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 15%;
  border: 1px solid black;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

input.search {
  width: 15%;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
}

input.search:focus {
  outline: none;
}

.red {
  color: #E82C0C;
}

.green {
  color: #1BFF73;
}

.gray {
  color: #888888;
}

.sentiment-count {
  list-style: none;
  width: 20%;
  padding: 30px;
  margin: auto 0;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  line-height: 2em;
}

#map {
  margin: 30px;
}

.centered {
  text-align: center;
}