.App {
  text-align: center;
}

.info-panel {
  text-align: left;
  position: absolute;
  top: 5px;
  left: 15px;
  width: 15%;
}

.red {
  color: #E82C0C;
}

.green {
  color: #1BFF73;
}

.gray {
  color: #888888;
}
